.dokuwiki div.ui-admin {

    /* main task grouped in two columns */
    ul.admin_tasks {
        float: left;
        width: 40%;
        list-style-type: none;
        font-size: 1.125em;
    }
    [dir=rtl] & ul.admin_tasks {
        float: right;
    }

    /* general menu item styling */
    ul {
        padding: 0;
        li {
            margin: 0 0 1em 0;
            font-weight: bold;
            list-style-type: none;
            white-space: nowrap;

            a {
                display: flex;
                span {
                    display: inline-block;

                    &.icon {
                        width: 1.5em;
                        min-height: 1.5em;
                        margin: 0 0.5em;
                        vertical-align: top;

                        svg {
                            width: 1.5em;
                            height: 1.5em;
                            fill: @ini_link;
                            display: inline-block;
                            path {
                                fill: @ini_link;
                            }
                        }
                    }

                    &.prompt {
                        white-space: normal;
                    }
                }
            }
        }
    }

	/* Security Warning */
	#security__check {
		clear: both;
	}

    /* DokuWiki version */
    #admin__version {
        clear: left;
        float: right;
        color: @ini_text_neu;
        background-color: inherit;
    }
    [dir=rtl] & #admin__version {
        clear: right;
        float: left;
    }
}

/* style the extension manager items: */
.dokuwiki #extension__manager {
	form.install { box-sizing: border-box; width: 100%; padding: 1em 2em; background-color: #EEE; }
	form.install .block { text-align: left; width: 100% }
	form.install input[name=installurl] {
		font-family: @ini_mono_fonts;
		padding: .25em .25em .25em 24px;
		border-radius: 10px;
		background: @ini_background_site url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAABdklEQVR4AWMgAVRo1zY3rGk41rC+rqvCBCJWBpPM4WoomLHtdtuv/t9Lfk263TtrQ0t7Oj9cbzZDc/W6s/8T7khD+P+F/8bv29PZlswJVVBu0vPuVZyNYHFZbmAqE1SR0cbjXR6pjGBO58am962Ta3e3ftqy6B5LCcMasOj7gInrm9jBzI4vTX+bfjT/7/4/p/w/zFXybUmt71u4wJzGfxP/t/xvA+KaP2XnQSKVFpWPav/U/6+HKJjz++OVJUDp1n9N/+r+19QyMCz1mPC/8X/X/26Igrn3GiUeL5n/v+F/8//6/9NOMTC0hDUDefP/L4MoOL6ickVeSQ1QqAGooPdBJE/lnloge/fhixBHftFd9bLkR83/+n/1QAXVP8qX1Pyv/L/s/12f/4xQNz8s3Pa/6X/Vvzqgour/5f/r/q//f2fmLy54WP7lfJN74eMSoKIyoNFz/5/+9ar+Px9aZL3Xfjvz7aO3/96+eLvsnSVE7CPhOAYA9nvIX0UoNU8AAAAASUVORK5CYII=') 3px center no-repeat;
		width: calc(100% - 6em);
	}
	form.install input[name=overwrite] { width: auto; margin-left: 2em;}
	form.install button[type=submit] {
		border: #CCC solid 1.5pt;
		padding: .5em .75em;
		background-color: #cdf;
	}
	form.install button[type=submit]::before {
		content: ' ';
		display: inline-block;
		position: relative;
		top: .1em;
		width: 1em;
		height: 1em;
		background: transparent url('images/editor/edit-save.svg') center bottom no-repeat;
		margin-right: .25em;
	}
}

/* dark mode overrides */
@media (prefers-color-scheme: dark) {
	body.darkmode.dokuwiki #extension__manager form.install { background-color: #39393D; }
	body.darkmode.dokuwiki #extension__manager form.install button[type=submit] {	
		color: #CDF;
		background-color: #346;
		border-color: #90909B;
	}
	body.darkmode.dokuwiki #extension__manager form.install button[type=submit]::before { filter: invert(.9); }
}