/**
 * This contains the content styling
 * @author Sascha Leib <sascha@leib.be>
 */
 
/* general link styles */
a:link {
	color:				@ini_link;
	text-decoration:	none;
}
a:visited {
	color:				@ini_link;
}
a:hover {
	text-decoration:	underline;
}
a:focus {
	outline:			@ini_focus_color solid 2px;
}
a.wikilink1:link,
a.wikilink1:visited {
	color:				@ini_existing;
}
a.wikilink2:link,
a.wikilink2:visited {
	color:				@ini_missing;
}
