/**
 * This contains the print layouts and styles
 * @author Sascha Leib <sascha@leib.be>
 */

@page { margin: 2cm 4cm 3cm 2.5cm; }

.noprint {
	display:		none !important;
}
.nobreak {
	white-space:	nowrap !important;
}
.printonly {
	display:		initial;
}

html, body, * {
	font-family:	@ini_print_default_fonts;
	margin:			0;
	padding:		0;
	background-color:	transparent;
}

body {
	font-size:				12pt;
	box-decoration-break:	clone;
}

/* hide unneded page elements */
#globalTools, #phSearch, #phTools, #phTools,
#sidebar, #toc, #navYouAreHere,
#footer-layout .ftSection {
	display:		none;
}
#header-layout {
	display: 		table-header-group;
	padding-bottom:	.25em;
	margin-bottom:	.5em;
}
#header-layout > header {
	grid-template-columns: 27pt auto;
	border-bottom: transparent solid 1em;
}
#siteLogo {
	display:		contents;
	width:			27pt;
}
#siteLogo .logo img {
	width:			24pt;
}
#siteLogo .title {
	font-size:		14pt;
	font-weight:	normal;
}
#siteLogo .title a:link,
#siteLogo .title a:visited {
	/* font-family:	@ini_print_title_fonts; */
	color:			#000;
	text-decoration: none;
}
#siteLogo .claim {
	max-width:		100%;
	margin:			5pt 0;
	font-size:		x-small;
}

#header-layout #phInclude {
	grid-column: 1 / span 2;
	border-bottom: #000 solid .5pt;
}

#main-layout {
	padding-top:	.5em;
	display: 		table-row-group;
}

#footer-layout {
	border:			#CCC solid 1px;
	display:		table-footer-group;
}
main .docInfo {
}

/* reset main borders and margins: */
main {
	display:			table-row-group;
	padding:			0;
	border-width:		0;
	line-height:		1.5em;
	border:				none 0;
	word-break:			break-word;
	-moz-box-shadow:	0 0 0 0 transparent;
	-webkit-box-shadow:	0 0 0 0 transparent;
	box-shadow:			0 0 0 0 transparent;
}

/* headlines */
main h1, main h2, main h3, main h4, main h5, main h6 {
	/* font-family:		@ini_print_title_fonts; */
	color:				@ini_print_title_color;
	line-height:		1.2em;
	margin:				1em 0 .5em 0;
	padding:			0 0 .25em 0;
	break-inside:		avoid;
	page-break-inside:	avoid;
	break-after:		avoid;
	page-break-after:	avoid;
	clear:				both;
}
main h1 { font-size: 28pt; }
main h2 { font-size: 14pt; }
main h3 { font-size: 12pt; }
main h4 { font-size: 12pt; font-style: italic; }
main h5 { font-size: 12pt; font-weight: normal; font-style: italic; }
main h6 { font-size: 11pt; font-weight: normal; font-style: italic; }

main h1 + div, main h2 + div, main h3 + div, main h4 + div, main h5 + div, main h6 + div {
	page-break-before:		avoid;
	break-before:			avoid;
}

/* two column layout */
#main-content {
	columns:		2;
	font-size:		90%;
}
#main-content h1 {
	column-span:	all;
	margin-bottom:	.5em;
}
#main-content h1 + div p:first-child {
	column-span:	all;
	font-weight:	600;
	margin-bottom:	1em;
}


/* paragraph-level blocks */
main p, main ul, main ol {
	margin:				.5em 0;
	widows:				2;
	orphans:			2;
	hyphens:			auto;
}
main ul { list-style: square outside; }
main ul ul { list-style-type: disc; }
main ul ul ul { list-style-type: none; }
main ol { list-style: decimal outside; }
main ul ul ul li {margin-left: 1em; }
main ul ul ul li:before { display: block; content: '\2043'; text-align:center; float: left; width: 1em; margin-left: -1em; }
main ul ul ul ul li:before { content: '\FE63' }
main ul ul ul ul ul li:before { content: '\00B7' }

main ol ol { list-style-type: lower-alpha; }
main ol ol ol { list-style-type: lower-roman; }
main ol ol ol ol { list-style-type: lower-greek; }
main ol ol ol ol ol { list-style-type: decimal-leading-zero; }
main ul ul ul ol li { margin-left: 0; }
main ul ul ul ol li:before { display: none; content: ''; }

main li {
	margin-left:		1.5em;
}
main blockquote {
	border-left:	@ini_blockquote solid 3pt;
	padding:		.25em 0 .25em .5em;
	margin:			0 .25em 1em .25em;
	font-size:		small;
	widows:			2;
	orphans:		2;
	hyphens:		auto;
}

/* links overrides */
main a:link,
main a:visited {
	color:				@ini_print_title_color;
	text-decoration:	none;
}
main a:link.text-link,
main a:visited.text-link {
	color:				#000;
}

/* add URL after external links - optional!
main a.interwiki:after,
main a.urlextern:after {
  content: ' <' attr(href) '>';
  font-size: 90%;
  color: #333;
} */

/* fixed-width elements: */
main tt, main blockquote tt,
main code, main blockquote code {
	font-family:	@ini_mono_fonts;
}

/* text attributes */
main s {
	text-decoration:			line-through rgba(255,0,0,0.5) solid 1pt;
	-webkit-text-decoration:	line-through rgba(255,0,0,0.5) solid 1pt;
}
main u {
	-webkit-text-decoration-color: @ini_missing;
	-webkit-text-decoration-line: underline;
	-webkit-text-decoration-style: wavy;
	-webkit-text-decoration-thickness: .7pt;
	text-decoration: underline @ini_missing wavy .7pt;
}
main u.valid {
	-webkit-text-decoration-color: @ini_existing;
	text-decoration-color: @ini_existing;
	text-decoration-style: dashed;
}
main abbr {
	text-decoration:		none;
	font-size:				97%;
	letter-spacing:			.05em;
}

/* horizontal rules */
main hr {
	border:				#000 solid 0;
	border-top-width:	1pt;
	height:				0;
	margin:				3pt 0;
}

/* table styles */
main table {
	max-width:			100%;
	border:				#000 solid .25pt;
	border-collapse:	collapse;
	font-size:			10pt;
	line-height:		16pt;
	margin:				.5em 0;
	box-decoration-break:	clone;
	page-break-inside:	avoid;
	break-inside:		avoid;
}
main table td,
main table th {
	border-right:		#666 solid 1px;
	padding:			0 3pt;
	vertical-align:		top;
}

main table th,
main table th * {
	/* font-family:		@ini_print_title_fonts; */
	font-size:			9pt;
	color:				@ini_print_title_color;
}
main table th {
}
main table td {
}
main table thead {
	break-inside:		avoid;
	break-after:		avoid;
}
main table thead tr {
	background-color:	#EEE;
	border-bottom:		#666 solid 1px;
}
main table thead tr th,
main table thead tr td {
	vertical-align:		bottom;
}
main table thead tr th:last-child,
main table thead tr td:last-child {
	border-right:		none 0;
}
main table tbody tr:nth-child(even) {
	background-color:	#EEE;
}
main table tbody th {
	vertical-align:		top;
}
main table a:link {
	text-decoration:	none;
}

main table.layout,
main table.layout tr,
main table.layout th,
main table.layout td {
	border:			none !important;
	background:		transparent none !important;
}

main blockquote table {
	margin:		0;
}

/* image-related */
main aside {
	float:			none;
	width:			100%;
	margin:			.5em 0;
	text-align:		center;
	font-size:		smaller;
	page-break-inside:	avoid;
	break-inside:	avoid;
	font-size:		small;
	line-height:	1.5em;
}
main img {
	width:			100%;
	max-width:		100%;
	height:			auto;
}

/* media detail */
body.mediadetail figure {
	border:		none;
	background:	transparent none;
}
body.mediadetail figure table ul {
	margin:		0;
}

/* allow user to force keep-together rules: */
.keep-together {
	page-break-inside:	avoid;
	break-inside:		avoid;
}
.break-before {
	page-break-before:	always;
	break-before:		always;
}
.print-wide {
	clear:			both;
	column-span:	all;
}
.print-outline {
	margin-top:		1em;
	border:			#666 solid 1pt;
	border-radius:	1em;
	padding:		0 1em;
}

/* site-banners */
.site-banner {
	clear:				both;
	column-span:		all;
	margin-top:			1em;
	border:				#666 solid 1pt;
	border-radius:		1em;
	padding:			0 1em;
	page-break-inside:	avoid;
	break-inside:		avoid;
	text-align:			left;
}
.site-banner h4 {
	margin:				.75em 0 .15em 0;
	font-family:		'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:			11pt;
	font-style:			normal;
}
.site-banner p {
	font-size:			9pt;
	line-height:		13pt;
}
.site-banner img {
	margin:			0 .25em .25em .5em;
}

/* boxes */
main .info-box,
main .wrap_info-box {
	border:				#666 solid 1px;
	background-color:	@ini_background_alt;
	padding:			.5em .25em .5em .5em;
	font-size:			small;
	line-height:		1.5em;
}

main aside.info-box,
main aside .wrap_info-box {
	border:				none;
	background-color:	transparent;
}
	